.flip-card-inner {
  perspective: 1000px;
  transition: transform 0.6s, height 1.5s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
