.info-collaboration__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;/* 96px */
  text-align: start;
}

.info-collaboration__block {
  display:grid;
  grid-column: span 2;
  grid-template-columns: repeat(2 , 1fr);
  gap:2rem;/* 32px */
  align-items: stretch;
}

.info-collaboration__column {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
}


