@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-b-solid {
    border-style: none;
    border-bottom-style: solid;
  }
}

@layer components {
  .hidden-shadow {
    --tw-ring-shadow: none;
    box-shadow: none;
  }
}
