@media (max-width: 549px) {
  .desktop-introduction__content {
    margin-bottom: 4rem /* 64px */;
  }

  .desktop-introduction__content > h1 {
    color: #000;
  }
}

@media (min-width: 550px) {
  .desktop-introduction__container {
    text-align: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 2rem; /* 32px */
  }

  .desktop-introduction__content {
    display: grid;
    grid-column: 1;
    grid-row: span 3;
    justify-items: center;
    align-items: center;
  }

  .desktop-introduction__content > h1 {
    color: rgb(0 66 94);
  }

  .desktop-introduction__image {
    width: 100%;
    max-width: 38.75rem;
    height: 100%;
    max-height: 36rem;
    grid-column: 2;
    grid-row: span 3;
  }
}
